.avatar{
    border-radius: 50%;
}

.imageCategorie{
    border-radius: 15%;
    width: 200px;
}

Comment code
.imageCategories{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

body{
    background-image: url(../asset/image/dark\ green.jpg);
}

